footer.border-t.border-slate-800.bg-slate-950\/95.text-slate-300
  .mx-auto.max-w-6xl.px-6.py-8
    .space-y-3.text-center.text-sm
      p
        | Maintained by the
        a.mx-1.text-cyan-300.transition.hover:text-cyan-200 target='_blank' rel='noopener' href='https://github.com/orgs/peatio/people' core team
        | with the help of
        a.ml-1.text-cyan-300.transition.hover:text-cyan-200 target='_blank' rel='noopener' href='https://github.com/peatio/peatio/graphs/contributors' our contributors
        | .
      p
        | Code licensed under
        a.mx-1.text-cyan-300.transition.hover:text-cyan-200 target='_blank' rel='noopener' href='http://peatio.mit-license.org/' MIT
        | , documentation under
        a.ml-1.text-cyan-300.transition.hover:text-cyan-200 target='_blank' rel='noopener' href='http://creativecommons.org/licenses/by/3.0/' CC BY 3.0
        | .
      ul.flex.flex-wrap.items-center.justify-center.gap-x-5.gap-y-2.text-xs.uppercase.tracking-wide.text-slate-400
        li Currently v#{Peatio::VERSION}
        li: a.text-cyan-300.transition.hover:text-cyan-200 target='_blank' rel='noopener' href='https://github.com/peatio/peatio' GitHub
        li: a.text-cyan-300.transition.hover:text-cyan-200 target='_blank' rel='noopener' href='https://github.com/peatio/peatio/tree/master/doc' Documents
        li: a.text-cyan-300.transition.hover:text-cyan-200 target='_blank' rel='noopener' href='https://github.com/peatio/peatio/wiki/About' About
        li: a.text-cyan-300.transition.hover:text-cyan-200 target='_blank' rel='noopener' href='https://github.com/peatio/peatio/issues?state=open' Issues
        li: a.text-cyan-300.transition.hover:text-cyan-200 target='_blank' rel='noopener' href='https://github.com/peatio/peatio/releases' Releases
